*{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-family: Ruberoid;
}

a{
	text-decoration: none; 
	color: black;
}
a:hover{
	text-decoration: underline;
}

.button{
	border-style: none;
	background: none;
	border: 0.1vw solid #A464FF;
	color: #A464FF;
	border-radius: 0.3vw;
	transition: 0.5s;
	padding-left: 0.8vw;
	padding-right: 0.8vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
}
.button:hover{
	background: #A464FF;
	color: white;
}
.button2{
	border-style: none;
	background: #A464FF;
	color: white;
	border-radius: 0.8vw;
	transition: 0.5s;
	padding-left: 4vw;
	padding-right: 4vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
	height: 5vh;
	font-weight: 700;
	margin-left: 25vw;
	border: 0.1vw solid transparent;
}
.button2:hover{
	background: #842EFF;
}
.button3{
	border-style: none;
	background: none;
	color: #3A89C9;
	border-radius: 0.8vw;
	transition: 0.5s;
	padding-left: 3.2vw;
	padding-right: 3.2vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
	height: 5vh;
	font-weight: 700;
	margin-left: 25vw;
	margin-top: 1vw;
	border: 0.1vw solid #3A89C9;
}
.button3:hover{
	box-shadow: 0 0 0.6vw 0.1vw #3A89C9;
}
.cVid{
	margin-left: 28vw;
}

/* Контейнер */
.container{
	width: 70vw;

	margin: 0 auto;;
}

/* Шапка */
.header{
	width: 100%;
	height: 7vh;

	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	background: white;
}

.headWrapper{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: auto 8.4vw 5.8vw 5.8vw 9.5vw 11vw 7.5vw 19.7vw auto;
	gap: 0 2.7vw;
	align-content: center;
}

.logo{
	height: 6vh;

	margin-top: auto;
	margin-bottom: auto;
}

.hsh{
	background: linear-gradient(89.92deg, #FB047C -7.2%, #FDB603 121.45%);
	color: transparent;
	-webkit-background-clip: text;
}

/* Тело */
.back{
	z-index: -10; 
	position: absolute; top: 0; 
	width: 100%; 
	box-shadow: 0 4vh 4vh #F2E9FF;
}

.mainImg{
	height: 30vw;
	width: 100%;
	background-image: url("imgs/mainImg.png");
	background-size: 100% 100%;
	box-shadow: 0 1vh 30vh #4F96D0;
}

@keyframes runningstroke{
	from {
		margin-left: -86.8vw;
	}
	to {
		margin-left: 0;
	}
}
.runningStroke{
	height: 100%;
	animation: runningstroke infinite 14s linear;
	z-index: 1;
}
.imgCont{
	overflow: hidden;
	width: 100%;
	height: 7vh;
	margin-top: 6vh;
	margin-bottom: 6vh;
}

main{
	margin-top: 7vh;
	padding-bottom: 10vh;
}

.threeInfo{
	height: 15vh;
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	border-radius: 1vw;
	color: white;
	font-size: 1.5vw;
	display: flex;
	overflow: hidden;
	position: relative;
}

.theInfo{
	height: 15vh;
	width: 70vw;
	position: absolute;
	transition: 0.5s;
}

.next, .prev{
	height: 1vw;
	width: 1vw;
	margin-top: auto;
	margin-bottom: auto;
	transition: 0.5s;
}
.next{
	margin-left: auto;
	margin-right: 1vw;
}
.prev{
	margin-right: auto;
	margin-left: 1vw;
	rotate: 180deg;
}
.join{
	border-style: none;
	background: white;
	color: #A464FF;
	border-radius: 0.8vw;
	transition: 0.5s;
	padding-left: 3vw;
	padding-right: 3vw;
	padding-top: 0.2vw;
	padding-bottom: 0.2vw;
	height: 35%;
	font-weight: 700;
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 2vw;
	border: 0.1vw solid transparent;
}
.join:hover{
	border: 0.1vw solid #A464FF;
	box-shadow: 0 0 0.6vw 0.1vw #A464FF inset;
}
.Itext{
	margin-top: auto;
	margin-bottom: auto;
	height: 7vh;
}

.Block{
	width: 100%;
	margin-top: 8vh;
}

.newsWrapper{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 60% 40%;
	gap: 1vw 1vw;
	padding-bottom: 2vw;
}
.news{
	height: 100%;
	width: 100%;
	border-radius: 1vw;
	background: white;
	padding: 1vw;
	font-size: 0.8vw;
}
.n1{
	grid-column: 1 / span 6;
	grid-row: 1 / 2;
}
.n2{
	grid-column: 7 / span 6;
	grid-row: 1 / 2;
}
.n3{
	grid-column: 1 / span 5;
	grid-row: 2 / 3;
}
.n4{
	grid-column: 6 / span 5;
	grid-row: 2 / 3;
}
.n5{
	grid-column: 11 / span 2;
	grid-row: 2 / 3;
}
.nImg{
	
}
.nText{
	margin-left: 2vw;
	margin-top: 0;
}

.eventsWrapper{
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 25%);
	gap: 1vw 1vw;
	padding-bottom: 2vw;
}
.event{
	height: 100%;
	width: 100%;
	border-radius: 1vw;
	background: white;
	padding: 1vw;
	font-size: 1vw;
}
.e1{
	grid-column: 1 / span 2;
	grid-row: 1 / 5;
}
.e2{
	grid-column: 3 / span 2;
	grid-row: 1 / 3;
}

.e3{
	grid-column: 3 / span 1;
	grid-row: 3 / 5;
}
.e4{
	grid-column: 4 / span 1;
	grid-row: 3 / 4;
}

footer{
	width: 100%;
	height: 30vh;
	background: white;
	margin-top: 20vh;
}
.logo2{
	width: 18vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2vw;
}
.limgWrapper{
	width: 18vw;
	margin-right: auto;
	margin-left: auto;
}
.niz{
	width: 100%;
	color: #666768;
	display: flex;
	background: white;
}
.lIcons{
	height: 2vw;
	width: 2vw;
}
.iconsWrapper{
	height: 2vw;
	margin-top: auto;
	margin-bottom: auto;
}

.intregBlock{
	width: 50%;
	height: 100%;
	background: white;
	margin: 0;
}

@font-face {
	font-family: "Ruberoid";
	src: url(fonts/Ruberoid-Regular.ttf);
}